<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title>Sport</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="dark">{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let sport of listaSport" lines="full" color="light" class="borda">
    <ion-thumbnail slot="start">
      <img [src]="sport.imagem"/>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ sport.nome }}</h2>
      <p>{{ sport.descricao }}</p>
    </ion-label>
    <ion-button expand="block" slot="end" color="dark" (click)="addProdutoCarrinho(sport)" color="dark">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-badge color="danger">R$ {{ sport.valor | number:'1.2-2' }}</ion-badge>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-toolbar color="dark">

  </ion-toolbar>
</ion-footer>
