<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Custom</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="dark">{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let custom of listaCustom" lines="full" color="light" class="borda">

    <ion-thumbnail slot="start">
      <img [src]="custom.imagem"/>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ custom.nome }}</h2>
      <p>{{ custom.descricao }}</p>
    </ion-label>

    <ion-button expand="block" slot="end" (click)="addProdutoCarrinho(custom)" color="dark">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-badge color="danger">R$ {{ custom.valor | number:'1.2-2' }}</ion-badge>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-toolbar color="dark">

  </ion-toolbar>
</ion-footer>
